@font-face {
    font-family: 'GothamMedium';
    src: url(fonts/Gotham\ Medium.otf)
}
body {
    background-color: rgb(255, 255, 255);
    text-align: center;
}

p1 {
    color:#1DB954;
    letter-spacing: -11px;
    font-family: 'GothamMedium','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 7.2em;
    margin: 120px;
}

p2 {
    color:rgb(0, 0, 0);
    font-family: 'GothamMedium','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5em;
    margin:100px;
    
}

p3 {
    color:#1DB954;
    letter-spacing: -11px;
    font-family: 'GothamMedium','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 7.2em;
    margin: 120px;
}

a {
    border-radius:50%;
}
a:hover {
    cursor:pointer
}