


@font-face {
    font-family: 'GothamMedium';
    src: url(fonts/Gotham\ Medium.otf)
}

*{
    padding: 0;
    margin: 0;
    }

p1 {
    font-family: 'GothamMedium','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:4em;
    text-align: center;
    letter-spacing: -18px;
    
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(185, 255, 94);
    
    letter-spacing: -5px;
    font-family: 'GothamMedium','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3.2em;
    text-align: center;
    color:rgb(251, 123, 181)
}



input[type=submit] {
    
    background-color: rgb(213, 255, 158);
    color:rgb(255, 172, 209);
    border: 1px solid rgb(72, 69, 69); 
    width:342px;
    height:57px;
    border-radius: 20px;
    letter-spacing: -5px;
    font-size: 1em;
    font-family: 'GothamMedium','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    text-shadow: none;
    }

    input[type=submit]:hover {
        
        color:rgb(198, 154, 136);
    text-shadow: none;
    cursor: pointer;
    }
    