@font-face {
    font-family: 'GothamMedium';
    src: url(fonts/Gotham\ Medium.otf)
}

*{
    padding: 0;
    margin: 0;
  }

p1 {
    font-family: 'GothamMedium','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:2.0em;
    letter-spacing: -2px;
    color: rgb(255, 255, 255);
    text-align: center;
}


body {
    width: 100%;
    min-height: 100vh;
    font-size:1.75em;
    letter-spacing: -1px;
    font-family: 'GothamMedium','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    background-color: rgb(9, 112, 83);
    color: rgb(255, 255, 255);
    /*background:linear-gradient(150deg, purple 0%, rgb(192, 46, 90));*/
}

input[type=submit] {
   
    background-color: rgb(17, 137, 103);
    border: 2px solid rgb(255, 255, 255);
    width: 275px;
    height: 55px;
    border-radius: 20px;
    margin:5px;
    font-size: 1.2em;
    font-family: 'GothamMedium','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: none;
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: rgb(6, 93, 68);
}