<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SpotifyU</title>
        <style> 
        img {
            border-radius: 25px;
            margin: 50px;
        }
            </style>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <br>
        <br>
        <br>
        <br>
    <p3> Welcome to </p3>
    <br>
    <br>
    <p1> Anytime Wrapped </p1>
    <br>
    <br>
    <br>
    <p2> Find out what you've been listening to...</p2>
    <br>
    {% for message in get_flashed_messages()%}
        <a href={{message}}> <img src =https://i.ibb.co/k50NqdS/updatedlogin.jpg width = 500px height = 90px border-radius = 10px /> </a>
    {% endfor %}
    
    </body>
</html>
