<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Statify</title>
    </head>
    <body>
        
        <a>Wrapping things up, lets see what songs have remained the same between eras </a>

        <form action="shortAndMediumSongComparison">
            <input type="submit" value="1 Month &lt-> 6 months"/>
        </form>
        <form action="mediumAndLongSongComparison">
            <input type="submit" value="6 Months &lt-> All time"/>
        </form>
        <form action="shortAndLongSongComparison">
            <input type="submit" value="1 month &lt-> All time"/>
        </form>

        <form action="/share">
            <input type="submit" value="Thank you"/>
        </form>
        
    </body>
</html>