<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Statify</title>
    </head>
    <body>
        
        <a>
            Let's expand the scope a little now. . .
        </a>
        <br>
        <a>
            6 months to be exact. . .
        </a>
        <br>
        <a>
            How much has your music taste evolved since then?
        </a>
        <form action="/mediumTermSongs">
            <input type="submit" value="Songs"/>
        </form>
        <form action="/mediumTermArtists">
            <input type="submit" value="Artists"/>
        </form>
        <form action="/mediumTermGenres">
            <input type="submit" value="Genres"/>
        </form>
        <form action="/page4">
            <input type="submit" value="Next"/>
        </form>
        
        


    </body>
</html>