<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SpotifyU</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/page5.css')}}">

    </head>
    <body>
        
        <p1>Wrapping things up, lets see what songs have remained the same between eras </p1>

        <form action="shortAndMediumSongComparison">
            <input type="submit" value="1 Month &lt-> 6 months"/>
        </form>
        <form action="mediumAndLongSongComparison">
            <input type="submit" value="6 Months &lt-> All time"/>
        </form>
        <form action="shortAndLongSongComparison">
            <input type="submit" value="1 month &lt-> All time"/>
        </form>

        <form action="/share">
            <input type="submit" value="More Info"/>
        </form>
        
    </body>
</html>