<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SpotifyU</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/page3.css')}}">
    </head>
    <body>
        
        <p1>
            Let's expand the scope a little now. . .
        </p1>
        <br>
        <p2>
            6 months to be exact. . .
        </p2>
        <br>
        <p3>
            How much has your music taste evolved since then?
        </p3>
        <form action="/mediumTermSongs">
            <input type="submit" value="Songs"/>
        </form>
        <form action="/mediumTermArtists">
            <input type="submit" value="Artists"/>
        </form>
        <form action="/mediumTermGenres">
            <input type="submit" value="Genres"/>
        </form>
        <form action="/page4">
            <input type="submit" value="Next"/>
        </form>
        
        


    </body>
</html>