<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SpotifyU</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/page2.css')}}">
    </head>
    <body>
        <br>
        <p1> Statify </p1>
        <br>
        <br>
        <p1>
            Let's take a look at your recent music taste. . .
        </p1>
        <br>
        <form action="/shortTermSongs">
            <input type="submit" value="Songs"/>
        </form>
        <form action="/shortTermArtists">
            <input type="submit" value="Artists"/>
        </form>
        <form action="/shortTermGenres">
            <input type="submit" value="Genres"/>
        </form>
        <form action="/page3">
            <input type="submit" value="Next"/>
        </form>


    </body>
</html>