<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SpotifyU</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/page1.css')}}">
    </head>
    <body>
        
            
        <br>
        <p1> SpotifyU</p1>
        <br>
        <br>
     
        {% for message in get_flashed_messages()%}
            <a> Hi, {{message}} <small><a href="/sign_out">[sign out]<a></small> </a>
        {% endfor %}
        <br>
        <a>Let's evaluate your music taste. . .</a>
        
        <form action="/page2">
            <input type="submit" value="Next"/>
        </form>
        
    </body>
</html>