<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SpotifyU</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/page4.css')}}">
    </head>
    <body>
        
        <p1>
            Let's take an even bigger step back. . . 
        </p1>
        <br>
        <p2>
            Prepare to be surprised, or not. . .
        </p2>
        <form action="/longTermSongs">
            <input type="submit" value="Songs"/>
        </form>
        <form action="/longTermArtists">
            <input type="submit" value="Artists"/>
        </form>
        <form action="/longTermGenres">
            <input type="submit" value="Genres"/>
        </form>

        <form action="/page5">
            <input type="submit" value="Next"/>

        </form>
        
    </body>
</html>