<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Statify</title>
    </head>
    <body>
        
        <a>
            Let's take a look at your recent music taste. . .
        </a>
        
        <form action="/shortTermSongs">
            <input type="submit" value="Songs"/>
        </form>
        <form action="/shortTermArtists">
            <input type="submit" value="Artists"/>
        </form>
        <form action="/shortTermGenres">
            <input type="submit" value="Genres"/>
        </form>
        <form action="/page3">
            <input type="submit" value="Next"/>
        </form>


    </body>
</html>