<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SpotifyU</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/shortTerm.css')}}">
    </head>
    <body>
        
        <p1>
            In the last month...
        </p1>
        <br>

        {% set ns = namespace(iterPrint=false) %} 
        {% for message in get_flashed_messages()%}
            {% if ns.iterPrint %}
                {% if message == 'switch' %}
                    {% if ns.iterPrint %}
                        {% set ns.iterPrint = False %}
                    {% else %}
                        {% set ns.iterPrint = True %}
                    {% endif %}
                {% elif 'i.scdn.co' in message %}
                    
                    <img src = {{message}} width="50" height="50">

                {% else %}
                    {% set l = message %}
                    {% for part in l %}
                        <a> {{part}}  </a>
                    {% endfor %}
                    
                {% endif %}
            {% else %}
                {% set ns.iterPrint = True %}
                <a\> {{message}} </a>
                
            {% endif %}
        <br>
        {% endfor %}
        <form action="/page2">
            <input type="submit" value="Back"/>
        </form>

    </body>
</html>

<!-- <img src = https://www.freepnglogos.com/uploads/spotify-logo-png/file-spotify-logo-png-4.png width="300" height="300"> -->